@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');
/* :root {
    --colorWhite: #ffffff;
    --colorMelon: #FAAD9E;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Titillium Web', sans-serif;
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica'; 
} */


* { 
    /* border:solid 1px rgb(255, 127, 225);  */
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.main-container {
   background-image: url(https://images.unsplash.com/photo-1602498456745-e9503b30470b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);

   /* background-image: url(https://i.pinimg.com/236x/4c/9d/6c/4c9d6c1f03dfc41497e57f203e0b9771.jpg); */

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background-color: #FAAD9E;
} 
.header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.header-title {
    margin-bottom: 20px;
    font-size: 35px;
    color:#0a8aab;
    margin-bottom: 50px;
}


.header-subtitle {
   color:#f5d4cd;
   font-size: 18px;
   font-weight: bold;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field-label {
    display: block;
    text-align: center;
    border: none;
    margin-bottom: 5px;
    font-size: 20px;
}

.input-field {
    border-radius: 10px;
    border:none;
    text-align: center;
    padding: 10px;
    background-color: blanchedalmond;
}

.form-sign {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
} 

.form-sign-in {
   background-color: #f9beb2;
   opacity: 70%;
    height: 480px;
    width: 280px;
    border:solid 3px #B3DBE5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-sign-up {
     background-color: #f9beb2;
     opacity: 70%;
     height: 520px;
     width: 280px;
     border:solid 3px #B3DBE5;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* margin-bottom: 100px; */
 }

.button {
    width:80px;
    align-content: center;
    border-radius: 10px;
    border:none;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    padding: 10px;
    margin-top:30px;
    background-color:#B3DBE5;
    color:#0a8aab;
  
}
.account-box {
    height: 100px;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
 
}
.text-signup  {
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 20px;

}

.sign-up-link {
    display: block;
    text-decoration: none;
    border-radius: 10px ;
    border-color:#0a8aab;
    text-align: center;
    padding: 10px;
    background-color: blanchedalmond;
    margin-top: 10px;
    color:#58B0C6;
}


/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */