/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';

} */
* { 
    border:solid 1px rgb(255, 127, 225); 
   
    /* margin:0;
    box-sizing: border-box; */
}


/* SignIn Component */

#app {

}
.form-sign-in {
    border:solid 3px aquamarine;
}
.container {
   
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}

/* h1 {
    color: var(--colorRed);
} */

/* SignUp Component */

/* Home view */

/* Account View */